
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: sk-bold;
    src: url(fonts/Sk-Modernist-Bold.otf);
}

@font-face {
    font-family: sk-reg;
    src: url(fonts/Sk-Modernist-Regular.otf);
}

body {
    font-family: sk-reg, Helvetica, sans-serif;
}

.navbar {
    padding: 3% 10% 0% 10%;
}

.heading {
    font-family: sk-bold, Helvetica, sans-serif;
    font-size: 3em;
    line-height: 1.24em;
}

h3 {
    font-size: 1.3em;
    letter-spacing: 0.03em;
    margin-top: 1.5rem;
}

.wrapper {
    padding: 9% 10% 0% 10%;
}

.motto {
    background-color: #EB5E28;
    color: #F8F7F2;
    font-size: 4em;
    font-family: sk-bold, Helvetica, sans-serif;
    width: 60%;
    height: 100%;
    margin-top: 4%;
    margin-bottom: 2%;
    padding: 3%;
}

.border-bottom {
    border-bottom: 2px solid black !important;
    width: 100%;
    padding: 1%;
}

.circle {
    background-color: #FFC043;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.square {
    background-color: #276EF1;
    height: 25px;
    width: 25px;
    display: inline-block;
}

.traingle {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-bottom: 30px solid #05A357;
    display: inline-block;
}

a {
    color: #000000;
    text-decoration: none !important;
}

a:hover {
    color: #EB5E28 !important;
}

.sec-nav a {
    color: #212529;
    font-size: 1em;
    font-family: sk-bold, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-right: 3em;
    margin-top: 3rem
}

.wrapper-project {
    margin: 5% 10% 0% 10%;
}

h2 {
    font-family: sk-bold, Helvetica, sans-serif;
    font-size: 1.5em;
}

.arrow {
    font-size: 1.5em;
}

.icon-dev {
    width: 20px;
    height: 20px;
}

.work {
    margin-top: 3% !important;
    margin-bottom: 6% !important;
}

/* Animation stuff */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fade-in 1s 1s forwards linear;
}

@keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(3em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.fade-up {
    animation: fade-up 6s cubic-bezier(.05,.98,.17,.97) forwards;
}

.animate-pop-in {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}
 
@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}
/* Large desktop */
@media (min-width: 1200px) {
 
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .sec-nav a {
        padding-right: 2em;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .sec-nav a {
        font-size: 73%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .navbar {
        padding: 3% 6% 0% 6%;
    }

    .wrapper {
        padding: 9% 6% 0% 6%;
    }

    .wrapper-project {
        margin: 9% 6% 0% 6%;
    }

    .heading {
        font-size: 2em;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    h3 {
        font-size: 0.8em;
        text-align: justify;
        text-justify: inter-word;
        margin-top: 1.5em;
    }

    .sec-nav a {
        font-size: 73%;
        padding-right: 9px;
        margin-top: 1.6rem
    }

    .motto {
        font-size: 2em;
        width: 75%;
        margin-top: 10%;
        padding-left: 6%;
    }

    .square, .circle {
        width: 15px;
        height: 15px;
    }

    .traingle {
        border-bottom: 20px solid #05A357;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    #work {
        font-size: 2rem;
        margin-top: 10%;
    }

    .work {
        margin-top: 10% !important;
    }

    h2 {
        font-size: 1.3em;
        margin-bottom: 0;
    }

    .col {
        margin-bottom: 1em;
    } 

    .work-mb {
        margin-bottom: 5%;
    }
}

@media (max-width: 375px) {
    .sec-nav a {
        font-size: 62%;
    }
}

@media (max-width: 325px) {
    .sec-nav a {
        font-size: 52%;
    }
}