h1 {
  letter-spacing: 0.25em;
  color: #fff;
  padding-left: 254px;
  padding-top: 30px;
  font-family: 'Julius Sans One', sans-serif;
}

h2 {
  margin-top: -15px;
}

h3 {
  letter-spacing: 0.1em;
  color: #fff;
  font-family: 'Abel', sans-serif;
}

p {
  margin-top: -10px;
}

.shift-l, .shift-r {
  margin-left:80px;
  width: 40px;
  float: left;
  height: 32px;
  padding:5px; 
  border:0px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*font-family: 'Ubuntu Mono';*/
   font-family: 'Special Elite', cursive;
  font-size: 1.2em;
}

#content {
  text-align: center;
  display:block;
  padding-top: 32px;
}

.plaintext {
  //padding-left: 200px;
  //float: left;
  display: inline-block;
}

.cipher {
  //padding-right: 200px;
 // float: right;
  display: inline-block;
}



textarea {
    padding: 5px;
    border: 0px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 350px;
    min-width: 100px;
    max-width: 300px;
    height: 135px;
    min-height: 100px;
    max-height: 135px;
    font-size: 1.2em;
    font-family: 'Ubuntu Mono';
}

button {
  display: inline;
  padding:5px; 
  border:0px solid #AAA; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  font-size: 1.2em;
  /*font-family: 'Ubuntu Mono';*/
  font-family: 'Special Elite', cursive;
  
  margin-left: 5px;
  margin-right: 80px;
  height: 32px;
}

#footer {
  float: left;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  disaply: block;
}
