html {
  background: #000000;
  /*display: flex;*/
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@font-face {
    font-family: Impact;
    src: url(Impact.woff);
}

svg,
svg circle {
  fill: #F0002F;
  overflow: hidden;
  vertical-align: middle;
}
@-webkit-keyframes from0to360 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes from0to360 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#Circle1 {
  -webkit-animation: from0to360 1s linear infinite;
          animation: from0to360 1s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  -webkit-transform-origin: 145px 150px;
          transform-origin: 145px 150px;
}
@-webkit-keyframes from360to0 {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes from360to0 {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
#Circle2 {
  -webkit-animation: from360to0 2s linear infinite;
          animation: from360to0 2s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  -webkit-transform-origin: 155px 150px;
          transform-origin: 155px 150px;
}
#Circle3 {
  -webkit-animation: from0to360 3s linear infinite;
          animation: from0to360 3s linear infinite;
  cx: 145;
  cy: 150;
  r: 100;
  -webkit-transform-origin: 150px 145px;
          transform-origin: 150px 145px;
}
#Circle4 {
  -webkit-animation: from360to0 2.5s linear infinite;
          animation: from360to0 2.5s linear infinite;
  cx: 155;
  cy: 150;
  r: 100;
  -webkit-transform-origin: 150px 155px;
          transform-origin: 150px 155px;
}

.blob {
  color: #ffffff;
  text-align: center;
  /*margin-top: 0;*/
  margin-top: -53px;
  font: bold 26vmax/.8 Open Sans, Impact;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #F0002F, #F0002F 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: 100%;

}

@media only screen and (max-width: 600px) {
  .blob {
    margin-top: -112px;
  }
}

.blob:hover {
  color: #F0002F;
  cursor: pointer;
  transition: all 0.7s cubic-bezier(0.3, 0, 0.23, 1);
  background-position: 0%;
}

h3 {
  color: white;
  padding-left: 10px;
  font: bold 4.5vmax/.8 Open Sans, Impact;
}

@media only screen and (max-width: 600px) {
  h3{
    font: bold 7.5vmax/.8 Open Sans, Impact;
  }
}
    

#credits {
    position: fixed;
    bottom: 24px;
    left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

#credits div {
  margin-left: 18px;
  font-size: 18px;
  line-height: 1;
  /*font-family: 'Anton', sans-serif;*/
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1px;
}

#credits:hover {
    opacity: 1;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
   #credits div {
    font-size: 14px;
    margin-left: -15px;
    margin-bottom: -9px;
  }
}

/* tooltip */
.tooltip {
  position: relative;
  /*background: #F0002F;*/
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  color: #FFF;
}
@media only screen and (max-width: 600px) {
   .tooltip {
    margin: -13px;
  }
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}



.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: #F0002F transparent transparent transparent;
  top: -15px;
  transform: translateY(20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: #F0002F;
  width: 160px;
  height: 40px;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}
@media only screen and (max-width: 600px) {
   .tooltip:after {
    width: 85px;
    height: 28px;
    font-size: 13px;
    font-weight: 300;
    top: -62px;
    left: 5px;
  }
}
.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.quoteup {
  text-transform: uppercase;
  line-height: 0.9em;
  vertical-align: top;
  /*padding-bottom: .35em;*/
  background-image: linear-gradient(to top, #FE8C00, #F83600);
  opacity: 0.5;
  border-radius: 3px;
}

@media only screen and (max-width: 600px) {
  .quoteup {
    line-height: 1.1em;
  }
}


.quoteand {
  text-transform: uppercase;
  line-height: 0.9em;
  vertical-align: top;
  /*padding-bottom: .35em;*/
  background: linear-gradient(to right, #2a0a59 0, #ff7b00 100%);
  opacity: 0.5;
  border-radius: 3px;
}

.quotedown {
  text-transform: uppercase;
  line-height: 0.9em;
  vertical-align: top;
  /*padding-bottom: .35em;*/
  background-image: linear-gradient(to right, #ff512f, #dd2476);
  opacity: 0.5;
  border-radius: 3px;
}

@media only screen and (max-width: 600px) {
  .quotedown {
    line-height: 1.1em;
  }
}
.carlsagan {
    opacity: 0.5;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 0.9em;
  vertical-align: top;
  background-image: linear-gradient(to right, #BC32A4 0%, #E03768 50%, #F67C33 100%);
 
}

@media only screen and (max-width: 600px) {
  .carlsagan {
    line-height: 1.1em;
  }
}
/*
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase
  line-height: 0.9em;
  vertical-align: top;
 opacity: 0.5;
  border-radius: 3px;

  padding-left: 10px;
  font: bold 4.5vmax/.8 Open Sans, Impact;
  font-size: 38px;
  letter-spacing: 1px;*/
 /*font-family: 'Josefin Slab', serif;*/
  /*font-family: 'Staatliches', cursive;*/
  /*font-family: 'Abril Fatface', cursive;*/




/*#main {
  display: -webkit-flex; 
  display: flex;
}

#main div {
  -webkit-flex: 1;  
  -ms-flex: 1;  
  flex: 1;
}*/

.quotebox {
  padding-block-start: 119px;
}

/* arrow down */
#wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  #wrapper {
    display: none;
  }
}
#wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
#scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  text-align: center;
}
.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}
.arrow-down:after {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #b91a2f;
  border-right: 2px solid #b91a2f;
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
#scroll-title {
  display: block;
  text-transform: uppercase;
  color: #b91a2f;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#scroll-down::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */
  -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 90px;
  background: #b91a2f;
  content: ' ';
}
@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
#paschka {
  display: block;
  color: white;
  font-family: helvetica neue, helvetica, arial;
  font-size: 32px;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 0px;
  transition: all 0.1s ease;
  background: #000;
  height: 40px;
  line-height: 30px;
  vertical-align: middle;
  width: 40px;
  text-align: center;
  border-radius: 5%;
  bottom: 20px;
  right: 20px;
}
#paschka:hover {
  background: #232323;
  transition: all 0.1s ease;
  color: #f0f0f0;
}


/* end of page */
.sticky {
  text-transform: uppercase;
    background: #000;
    height: 221px;
    line-height: 50px;
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 70%;
    color: #ffffff;
    /*text-align: center;*/
    /*font-family: 'Karla', sans-serif;*/
    font-family: 'Kalam', cursive;

}

.end-of-page {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .sticky {
    font-size: 17px;
    line-height: 30px;
  }
}
